{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30247.736426768923!2d73.71589136276049!3d18.620551598927534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9863cdea94d%3A0xa1c37ecfd502f4f0!2sTathawade%2C%20Pimpri-Chinchwad%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1714494794575!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}